<div id="webuffet-components">
  <div id="wbc-console"></div>
  <div id="wbc-tools"></div>
  <div id="wbc-editing-boundary" class="hidden">
    <div class="wbc-handle left-top remove"></div>
    <div class="wbc-handle right-top rotate"></div>
    <div class="wbc-handle right-bottom scale"></div>
    <!-- <div class="wbc-handle left-bottom more"></div> -->
  </div>
  <div id="wbc-selector" class="hidden">
    <div id="wbc-progress-bar"></div>
    <div id="wbc-selector-boundary"></div>
    <div id="wbc-selector-background">
      <div class="bg-comp top"></div>
      <div class="bg-comp right"></div>
      <div class="bg-comp bottom"></div>
      <div class="bg-comp left"></div>
    </div>
  </div>
</div>